/node_modules
/public/hot
/public/storage
/media
/storage/*.key
/storage/media
/storage/backups
/storage/backup-temp
/storage/media-library
/storage/media-library/temp
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.idea/workspace.xml
/twenycode
